.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}








.butenj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    background-color: aqua;
    color: black;
}



butenj{
    background-color: aqua;
}






.butenj onclick{
    text-decoration: none;
    color: black;
    background-color: aqua;
}









.butenjall{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}









.bg{
    background: url("https://images.pexels.com/photos/36188877/pexels-photo-36188877.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}







.text{
    color: white;
}







.container{
    width: 100%;
    max-width: 410px;
    height: 100vh;
    max-height: 840px;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}




